body {
    background-color: #121319;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(207, 207, 207);
}


a{
    text-decoration: none;
    color: #52AEF4;
    transition: all 0.05s ease-in;
}

a:hover{
    color: #4692cc;
}

#title{
    letter-spacing: 1.2px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}


.main .leftbar p{
    color: rgb(207, 207, 207);
}

.main .leftbar p span{
    color: #ffffff;
}

.button{
    display: flex;
    justify-content: center;
}

.button a{
    width: 150px;
    padding: 5px;
    height: auto;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #607ada;
    text-align: center;
    transition: all 0.1s ease-in;
}

.button a:hover{
    background-color:rgb(49, 84, 214);
}

.reason p{
    max-width: 100%;
}


#solution-number{
    display: inline;
    font-size: 20px;
    padding: 5px 11px;
    border-radius: 50%;
    border: 2px solid #f5f5f5;
}

.sol{
    margin-top: 15px;
}

.sol p{
    margin-top: 15px;
}

.footer{
    width: 100%;
    height: 10vh;
    margin-top: 30px;
    background-color: #1C1E28;
}

.footer ul{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    background-color:#1C1E28;
}

.footer ul li{
    margin-left: 15px;
}

.ShareLink_facebook{
    padding: 5px 10px;
    background-color: rgb(56, 56, 255);
    border-radius: 50%;
}

.ShareLink_twitter{
    padding: 5px 7.5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.ShareLink_github{
    padding: 5px 7.5px;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
}

.ShareLink_youtube{
    padding: 5px 7.5px;
    background-color: red;
    border-radius: 50%;
}

.ShareLink_linkedin{
    padding: 5px 7.5px;
    background-color: rgb(41, 41, 255);
    border-radius: 50%;
}

.ShareLink_twitch{
    padding: 5px 5px;
    background-color: rgb(156, 8, 255);
    border-radius: 50%;
}

.ShareLink_reddit{
    padding: 5px 5px;
    background-color: rgb(255, 141, 48);
    border-radius: 50%;
    margin-right: 10px; /* veya başka bir değer deneyin */
}

@media only screen and (max-width: 767px) {
    .header{
        width: 100%;
        height: 12.5vh;
        background-color: #1C1E28;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header h1{
        font-size: 24px;
    }

    .header h1 span{
        font-size: 18px;
    }

    .main{
        margin-top: 5%;
    }

    .leftbar{
        width: 90%;
        margin-left: 5%;
        height: fit-content;
        background-color: #1C1E28;
        box-shadow: 0px 0px 10px #1C1E28;
        padding: 15px;
    }

    .mainbar{
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
        background-color: #1C1E28;
        padding: 15px;
        box-shadow: 0px 0px 10px #1C1E28;
    }
    
    
    .mainbar{
        display:block;
    }

    .reasonandphoto {
        display: block;
        margin: 0;
    }
    
    .reason{
        width: 95%;
        margin-left: 2.5%;
    }

    .photo{
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
    
    .photo img{
        object-fit: cover;
        height: 150px;
    }

    .solutions{
        margin-top: 7.5%;
        width: 90%;
        margin-left: 5%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .header{
        width: 100%;
        height: 7.5vh;
        background-color: #1C1E28;
        position: relative;
    } 

    .header h1{
        position: absolute;
        bottom: 0;
        left: 20px;
        font-weight: bold;
        font-size: 40px;
    }

    .header h1 span{
        font-weight: 500;
        font-size: 25px;
    } 

    .main{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .leftbar{
        width: 25%;
        height: fit-content;
        background-color: #1C1E28;
        box-shadow: 0px 0px 10px #1C1E28;
        padding: 15px;
    }

    .mainbar{
        width: 60%;
        margin-left: 2%;
        background-color: #1C1E28;
        padding: 15px;
        box-shadow: 0px 0px 10px #1C1E28;
    }

    .mainbar{
        display: block;
    }   

    .photo{
        margin-left: 0;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
  }

  @media only screen and (min-width: 1024px) {
    .header{
    width: 100%;
    height: 12.5vh;
    background-color: #1C1E28;
    position: relative;
    } 

    .header h1{
        position: absolute;
        bottom: 0;
        left: 20px;
        font-weight: bold;
        font-size: 40px;
    }

    .header h1 span{
        font-weight: 500;
        font-size: 25px;
    }

    .main{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .leftbar{
        width: 20%;
        height: fit-content;
        background-color: #1C1E28;
        box-shadow: 0px 0px 10px #1C1E28;
        padding: 15px;
    }

    .mainbar{
        width: 60%;
        margin-left: 2%;
        background-color: #1C1E28;
        padding: 15px;
        box-shadow: 0px 0px 10px #1C1E28;
    }

    .mainbar{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .reasonandphoto {
        display: flex;
        margin: 0;
    }

    .reason{
        width: 50%;
    }

    .photo{
        margin-left: 40px;
    }

    .photo img{
        object-fit: cover;
        height: 200px;
    } 

    .solutions{
        margin-top: 20px;
    }
  }