body {
    background-color: #121319;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(207, 207, 207);
}

.footer{
    width: 100%;
    height: 10vh;
    margin-top: 30px;
    background-color: #1C1E28;
}

.footer ul{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    background-color:#1C1E28;
}

.footer ul li{
    margin-left: 15px;
}

.ShareLink_facebook{
    padding: 5px 10px;
    background-color: rgb(56, 56, 255);
    border-radius: 50%;
}

.ShareLink_twitter{
    padding: 5px 7.5px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.ShareLink_github{
    padding: 5px 7.5px;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
}

.ShareLink_youtube{
    padding: 5px 7.5px;
    background-color: red;
    border-radius: 50%;
}

.ShareLink_linkedin{
    padding: 5px 7.5px;
    background-color: rgb(41, 41, 255);
    border-radius: 50%;
}

.ShareLink_twitch{
    padding: 5px 5px;
    background-color: rgb(156, 8, 255);
    border-radius: 50%;
}

.ShareLink_reddit{
    padding: 5px 5px;
    background-color: rgb(255, 141, 48);
    border-radius: 50%;
    margin-right: 10px; /* veya başka bir değer deneyin */
}

.normal {
    margin-top: 5%;
}

.populars {
    margin-top: 5%;
}

@media only screen and (max-width: 767px) {

    .header{
        width: 100%;
        height: 12.5vh;
        background-color: #1C1E28;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header h1{
        font-size: 24px;
    }

    .header h1 span{
        font-size: 18px;
    }

    .populars .errors{
        display: block;
    }

    .populars .errors .errordivpopular{
        width: 80%;
        margin: 0;
        margin-left: 5%;
        margin-top: 30px;
    }

    .normal .errors{
        display: block;
    }

    .normal .errors .errordiv{
        width: 80%;
        margin: 0;
        margin-left: 5%;
        margin-top: 30px;
    }

    .normal #title {
        margin-left: 10%;
        letter-spacing: 1.3px;
        font-family: 'Kanit', sans-serif;
        padding: 5px;
    }
}

@media only screen and (min-width: 1024px) {
    .header{
        width: 100%;
        height: 12.5vh;
        background-color: #1C1E28;
        position: relative;
    }  

    .header h1{
        position: absolute;
        bottom: 0;
        left: 20px;
        font-weight: bold;
        font-size: 40px;
    } 

    .header h1 span{
        font-weight: 500;
        font-size: 25px;
    } 

    .normal #title {
        margin-left: 15%;
        letter-spacing: 1.3px;
        font-family: 'Kanit', sans-serif;
        padding: 5px;
    } 
}

.populars #title {
    margin-left: 15%;
    letter-spacing: 1.3px;
    font-family: 'Kanit', sans-serif;
    padding: 5px;
}

.errors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.errordiv {
    width: 30%; /* Değişiklik burada */
    margin: 0 2.5%;
    margin-top: 2%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    border-radius: 5px;
    background-color: #1C1E28;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px #9B4D14;
}

.errordivpopular {
    width: 30%; /* Değişiklik burada */
    margin: 0 2.5%;
    margin-top: 2%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    border-radius: 5px;
    background-color: #292c3b;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px #a19100;
}

.error h1 {
    color: rgb(221, 221, 221);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.button {
    margin-top: 10px;
}

.button a {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    background-color:#494e68;
    text-decoration: none;
    transition: all 0.075s ease-in;
    font-weight: bold;
    color: #f5f5f5;
}

.button a:hover {
        background-color: #52AEF4;
    box-shadow: 0px 0px 10px #52AEF4;
    color: #f5f5f5;
}

#situation{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: rgb(32, 32, 255);
    transition: all 0.05s ease-in;
}

a:hover{
    color: rgb(82, 82, 255);
}

.buttondc{
    display: flex;
    justify-content: center;
}

.buttondc a{
    width: 150px;
    padding: 5px;
    height: auto;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: #607ada;
    box-shadow: 0px 0px 10px #607ada;
    text-align: center;
    transition: all 0.1s ease-in;
}

.buttondc a:hover{
    background-color:rgb(49, 84, 214);
}
